/* iPhone 14 Pro (393px) */
@media (max-width: 393px) {
  
  
  .hero-image {
    width: 180px !important;
    height: 180px !important;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  

  .morph-colors::before{

    margin-top: 60px;
    margin-bottom: 20px;
  }

  .animate-typing {
    font-size: 1.2rem;
    
    text-align: center;
  }

  #home .container {
    padding: 0 1rem !important;
  }

  .fade-in-left h2 {
    font-size: 1.5rem !important;
  }

  .bn31 {
    width: 100%;
    max-width: 180px;
  }
}

/* iPhone 14 Pro Max (430px) */
@media (min-width: 394px) and (max-width: 480px) {
   .hero-image {
    width: 180px !important;
    height: 180px !important;
    margin-top: 60px;
    
  }
  

  .morph-colors::before{

    margin-top: 60px;
    
  }

  .animate-typing {
    font-size: 1.2rem;
    
    text-align: center;
  }

  .fade-in-left h2 {
    font-size: 1.6rem !important;
  }
  
}

/* Pixel 7 Pro (480px) */
@media (min-width: 431px) and (max-width: 500px) {
   .hero-image {
    width: 180px !important;
    height: 180px !important;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  

  .morph-colors::before{

    margin-top: 60px;
    margin-bottom: 40px;
  }

  .animate-typing {
    font-size: 1.2rem;
    
    text-align: center;
  }

  .fade-in-left h2 {
    font-size: 1.7rem !important;
  }
}

/* iPad Air 5 (820px) */
@media (min-width: 768px) and (max-width: 840px) {
   .hero-image {
    width: 180px !important;
    height: 180px !important;
    margin-top: 60px;
    
  }
  

  .morph-colors::before{

    margin-top: 60px;
    
  }

  .animate-typing {
    font-size: 1.6rem;
    
  }

  .fade-in-left h2 {
    font-size: 2.2rem !important;
  }
}
/* Responsividade do zero baseada no HTML do usuário */

/* iPhone 14 Pro (393px) */
@media (max-width: 393px) {
  .center {
    padding-top: 7rem;
  }

  .fade-in-left h2 {
    font-size: 2rem;
  }

  .animate-typing {
    font-size: 1.25rem;
  }
}

/* iPhone 14 Pro Max (430px) */
@media (min-width: 394px) and (max-width: 430px) {
  .center {
    padding-top: 7rem;
  }

  .fade-in-left h2 {
    font-size: 2.125rem;
  }

  .animate-typing {
    font-size: 1.3rem;
  }
}

/* Pixel 7 Pro (480px) */
@media (min-width: 431px) and (max-width: 480px) {
  .center {
    padding-top: 7rem;
  }

  .fade-in-left h2 {
    font-size: 2.25rem;
  }

  .animate-typing {
    font-size: 1.4rem;
  }
}

/* iPad Air 5 (820px) */
@media (min-width: 768px) and (max-width: 840px) {
  .center {
    padding-top: 7rem;
  }

  .fade-in-left h2 {
    font-size: 2.5rem;
  }

  .animate-typing {
    font-size: 1.5rem;
  }
}
@media (min-width: 300px) and (max-width: 400px){
.bn32 {
    
    max-width: 400px;
  }

}

@media (min-width: 1559px) and (max-width: 975px){
.tela-grande{
  margin-top: 0;
  margin-bottom: 0;

}
}


@media (min-width: 1020px) and (max-width: 1180px) {
  
.fade-in-left1 {
    font-size: 3rem !important;
    margin-left: 70px !important;
    margin-right: 30px;
    
  }
  
.btn-left1 {
   
    margin-left: 70px !important;
    margin-right: 30px;
    
  }
  
  
}

@media (min-width: 300px) and (max-width: 430px){
  
  .baixo{
margin-bottom: 20px;
  }

  .fade-in-left2{
    
    margin-top: 40px !important;
    
  }
  .fade-in-left h3 {
    font-size: 1rem;
  }
}
/* Para telas grandes (desktop) - diminuir texto laranja */
@media (min-width: 1024px) {
  .fade-in-left h2 {
    font-size: 3.5rem !important; /* ou o tamanho que você quiser */
  }
}

@media (min-width: 1024px) {
  .fade-in-left3 {
    padding-left: 5rem !important; /* 80px */
  }

  .sobre-mim p {
    font-size: 1.125rem !important; /* text-lg */
    padding-left: 50px;
    padding-right: 50px;
  }
  
  
}

/* Para telas muito grandes */
@media (min-width: 1400px) {
  .fade-in-left3 {
    padding-left: 8rem !important; /* 128px */
  }

  .sobre-mim p {
    font-size: 1.25rem !important; /* text-xl */
  }
}
